@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoFlex'; /* Nombre personalizado */
    src: url('/fonts/RobotoFlex-Regular.ttf') format('truetype');
}

*{
    background-color: transparent;
}